services:
  cours-api:
    container_name: cours-api
    build:
      context: .
      dockerfile: Dockerfile
    command: sh -c "npx prisma generate && npx prisma migrate deploy && npm run start"
    restart: always
    env_file:
      - .env
    ports:
      - "3000:3000"
    volumes:
      - ./:/usr/src/app
      - /usr/src/app/node_modules
    depends_on:
      - db
  db:
    container_name: cours-db
    image: postgres:15
    restart: always
    env_file:
      - .env
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
